@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
  width: 900px;
  margin: auto;
}

header {
  display: flex;
  margin: auto;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.logo img {
  width: 60px;
}

.headline {
  display: block;
}

.mainTitle {
  font-size: 56px;
  font-family: 'yellowtail';
  font-weight: bolder;
  margin: 0;
  line-height: 1;
}

.tagline {
  font-family: 'roboto';
  font-size: 12px;
  margin: 0 0 0 3px;
  width: 300px;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  margin-left: 295px;
}

.socialMedia img {
  margin: 2px;
}

.border {
  margin-top: 30px;
  background-image: url(./img/hr-img.png);
  height: 15px;
  width: 100%;
}

h1 {
  font-family: 'oswald';
  font-weight: 600;
  margin-bottom: -16px;
}

.subtitle {
  font-family: 'roboto';
  font-size: 10px;
  color: gray;
}


.printIcon {
  margin-bottom: 20px;
  float: right;
  font-family: 'roboto';
  font-size: 14px;
  color: gray;
}

.printIcon img {
  padding-right: 3px;
}

.mainParagraph {
  text-indent: 30px;
  color: rgb(99, 97, 97);
  font-family: 'Noto Serif', serif;
  font-size: 16.5px;
}

.mainParagraph p {
  padding: 0 0 18px 0;
}

ul {
  background-image: url(./img/list-bg.png);
  columns: 2;
  list-style-type: none;
  height: 260px;
  font-family: 'patrick hand';
  font-size: 20px;
  padding-top: 40px;
  color: rgb(99, 97, 97);
}

ul li {
  padding-bottom: 4px;
}

.strikethrough {
  text-decoration: line-through;
}

.borderTwo {
  margin-top: 30px;
  margin-bottom: 20px;
  background-image: url(./img/hr-img.png);
  height: 15px;
  width: 100%;
}

.author {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.authorName {
  margin-left: 20px;
  font-family: 'Noto Serif', serif;
  font-size: 18px;
  color: rgb(99, 97, 97);
  width: 650px;
}

button {
  background-color: rgb(188, 116, 92);
  font-family: 'roboto';
  font-size: 16px;
  height: 50px;
  border: none;
  color: #fff;
  width: 150px;
}

/* This modifies our <hr> element and allows us to insert the small-logo within the horizontal line */
/* hr code is modified from https://stackoverflow.com/questions/14202089/custom-hr-with-image-character-in-the-center comment by GeorgeButter */
hr.hrLogo {
  border-top: solid rgb(212, 212, 212) 1px;
  margin: 50px 0;
}
hr.hrLogo:after {
  content: url(./img/small-logo.png);
  left: 50%;
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  background: #fff;
}

footer {
  text-align: center;
  margin-top: 20px;
  color: gray;
  font-family: 'Noto Serif', serif;
  font-size: 14px;
}